@charset "UTF-8";

@media screen and (hover: hover) {
    a:hover{
        background-color: #6CD3CF;
    }

    form div input:hover{
        border: solid 2px #5F2C82;
    }

    input[type= "submit"]:hover{
        cursor: pointer;
        background-color: rgb(32, 109, 109);
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #5F2C82, #4B949A);
    }

    main{
        width: 85vw;
        min-width: 750px;
        height: 400px;
        padding: 0px;
    }

    div#img{
        width: 30%;
        height: 100%;
        border-radius: 20px 0px  0px 20px;
        border-right: solid 1px rgba(0, 0, 0, 0.322);
        float: left;
    }

    div#form{
        width: 65%;
        display: inline-block;
    }

    h1{
        font-size: 1.7em;
    }

    p{
        margin: 17px 0px;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #5F2C82, #4B949A);
    }

    main{
        width: 80vw;
        min-width: 950px;
        max-width: 1200px;
        height: 425px;
        padding: 0px;
    }

    div#img{
        width: 49%;
        height: 100%;
        border-radius: 0px 20px  20px 0px;
        border-left: solid 1px rgba(0, 0, 0, 0.322);
        float: right;
    }

    div#form{
        width: 49%;
        display: inline-block;
    }

    h1{
        font-size: 2em;
    }

    p{
        margin: 17px 0px;
    }
}