@charset "UTF-8";

@media screen and (hover: hover) {
    a:hover{
        background-color: #8307ff54;
    }

    form input:hover, form input:focus, select:hover, select:focus{
        border: solid 2px #6E06D4;
        outline: none;
    }

    input[type= "submit"]:hover, input[type= "reset"]:hover{
        cursor: pointer;
        background-color: #3e0577;
    }
}

@media screen and (min-width: 768px){
    body{
        background-image: linear-gradient(45deg,#EB4C13, #0B4D4D);
    }

    main{
        min-width: 700px;
        margin: 40px;
    }

    h1{
        text-align: center;
        margin-bottom: 20px;
    }

    fieldset.personalData{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        justify-items: center;
        align-items: center;
    }

    fieldset.personalData div{
        display: inline-block;
        width: 300px;
    }

    fieldset.personalData div input{
        width: 250px;
    }

    legend{
        margin: 20px 0px;
    }

    fieldset.securityQuestions{
        display: block;
    }

    fieldset.securityQuestions label{
        display: inline-block;
        width: 135px;
    }

    fieldset.securityQuestions select, fieldset.securityQuestions input{
        display: inline-block;
        width: 70%;
    }

    .response{
        margin-bottom: 100px;
    }
}